################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Talabat.sol/.vs/Talabat.sol
/Talabat.sol/Talabat.Api/obj
